<section class="bg-[#F1F5F9] py-8 px-6"> 
    <div class="max-w-7xl mx-auto">
        <div class="bg-white shadow-md rounded-lg p-6 mb-8">
            <div class="overflow-x-auto">
                <table class="min-w-full table-auto">
                    <thead class="bg-[#282258] text-white">
                        <tr>
                            <th class="px-6 py-3 text-sm font-bold text-left"> </th> <!-- Columna vacía -->
                            <th class="px-6 py-3 text-sm font-bold text-left"> </th> <!-- Columna vacía -->
                            <th class="px-6 py-3 text-sm font-bold text-left">Equipo 1</th>
                            <th class="px-6 py-3 text-sm font-bold text-left">Empate</th>
                            <th class="px-6 py-3 text-sm font-bold text-left">Equipo 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let partido of listaPartidos">
                            <!-- Fila para el nombre del torneo -->
                            <tr>
                              <td colspan="6" class="px-6 py-4 text-lg font-bold text-[#282258]">{{ partido.nombreTorneo }}</td>
                            </tr>
                            <!-- Fila del partido -->
                            <tr class="border-t">
                              <td class="px-6 py-4 text-sm font-semibold">{{ partido.fechaInicio }}</td>
                              <td class="px-6 py-4 text-sm font-semibold">{{ partido.equipoLocal }} vs {{ partido.equipoVisitante }}</td>
                              <td class="px-6 py-4 text-sm">
                                <button class="bg-[#282258] bg-opacity-40 text-white w-full h-full px-4 py-2 rounded">{{ partido.gananciaEquipo1 }}</button>
                              </td>
                              <td class="px-6 py-4 text-sm">
                                <button class="bg-[#282258] bg-opacity-40 text-white w-full h-full px-4 py-2 rounded">{{ partido.gananciaEmpate }}</button>
                              </td>
                              <td class="px-6 py-4 text-sm">
                                <button class="bg-[#282258] bg-opacity-40 text-white w-full h-full px-4 py-2 rounded">{{ partido.gananciaEquipo2 }}</button>
                              </td>
                              <td class="px-6 py-4 text-sm">
                              </td>
                            </tr>
                          </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
