<div class="container mx-auto max-w-md p-10 h-max bg-[#EEEEEE] mt-10 mb-20 rounded-xl">
    <h1 class="text-3xl font-junge text-[#282258] font-bold text-center mt-3 mb-7">CREA TU CUENTA</h1>
    <form [formGroup]="fGroup" class="mt-2">
        <div class="flex items-center border-b border-gray-300 py-2 m-5">
            <input formControlName="nombre" id="nombre" type="text" class="appearance-none bg-transparent border-none w-full text-[#282258] mr-3 py-1 px-2 leading-tight focus:outline-none" placeholder="Nombre" required>
        </div>
        <div class="flex items-center border-b border-gray-300 py-2 m-5">
            <input formControlName="apellido" id="apellido" type="text" class="appearance-none bg-transparent border-none w-full text-[#282258] mr-3 py-1 px-2 leading-tight focus:outline-none" placeholder="Apellido" required>
        </div>
        <div class="flex items-center border-b border-gray-300 py-2 m-5">
            <input formControlName="correo" id="email" type="email" class="appearance-none bg-transparent border-none w-full text-[#282258] mr-3 py-1 px-2 leading-tight focus:outline-none" placeholder="Correo electrónico">
        </div>
        <div class="flex items-center border-b border-gray-300 py-2 m-5">
            <input formControlName="clave" id="password" type="password" class="appearance-none bg-transparent border-none w-full text-[#282258] mr-3 py-1 px-2 leading-tight focus:outline-none" placeholder="Contraseña" required>
        </div> 
        <div class="flex items-center border-b border-gray-300 py-2 m-5">
            <input formControlName="telefono" id="telefono" type="text" class="appearance-none bg-transparent border-none w-full text-[#282258] mr-3 py-1 px-2 leading-tight focus:outline-none" placeholder="Celular" required>
        </div> 
        <div class="mb-4">
            <button (click)="Registrarse()" class="bg-[#282258] hover:bg-[#00FF9C] hover:text-black text-white font-bold py-2 px-3 rounded w-full" type="button">
                Regístrarse
            </button>
        </div>
    </form>
    <div class="mt-4 text-center">
        <p>¿No tienes una cuenta? <a routerLink="/seguridad/identificar-usuario" class="inline-block align-baseline font-bold text-sm text-[#282258] hover:text-[#00FF9C]">INICIA SESIÓN</a></p>
    </div>
</div>
