<div class="relative overflow-x-auto my-8 mx-4">
    <!-- Título de la tabla centrado y más grande -->
    <h2 class="text-3xl font-bold text-center mb-4 text-[#282258]">MÉTODOS DE PAGO</h2>
    
    <table class="w-full text-sm text-left rtl:text-right text-[#282258] border-collapse border border-gray-200">
        <thead class="text-xs text-white uppercase bg-[#282258]">
            <tr>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Tipo de Pago
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Datos
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Editar
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Eliminar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let metodo of metodosPago" class="bg-[#EEEEEE] border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-[#282258] whitespace-nowrap dark:text-white border border-gray-300">
                    {{ metodo.nombreMetodo }}
                </td>
                <td class="px-6 py-4 text-[#282258] border border-gray-300">
                    {{metodo.numeroCuenta}}
                </td>
                <td class="px-6 py-4 border border-gray-300">
                    <button class="bg-[#282258] bg-opacity-50 hover:bg-[#282258] hover:bg-opacity-80 text-white font-bold py-2 px-4 rounded">
                        Editar
                    </button>
                </td>
                <td class="px-6 py-4 border border-gray-300">
                    <button class="bg-[#282258] bg-opacity-80 hover:bg-[#282258] hover:bg-opacity-90 text-white font-bold py-2 px-4 rounded">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
  
    <!-- Botón con margen ajustado -->
    <div class="flex justify-end mt-6 mb-6">
        <button (click)="redirigirCrearMetodoPago()" class="bg-[#282258] hover:bg-[#00FF9C] hover:text-black text-white font-bold py-2 px-4 rounded">
            Agregar método de pago
        </button>
    </div>
</div>
