<footer class="bg-nav dark:bg-gray-900 h-auto w-full" style="background-color: #282258; color: white;">
    <div class="mx-auto w-full max-w-screen-xl p-1 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0 flex items-center">
                <!-- Logo Funeraria (más grande que el logo de Facebook) -->
                <a class="flex items-center mr-4">
                    <img src="https://cdn-icons-png.flaticon.com/512/8145/8145683.png" class="h-24 w-100" alt="Logo Funeraria" />
                </a>
                <!-- Icono de Facebook -->
                <a href="#" class="text-white hover:text-gray-300">
                    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                        <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">Facebook page</span>
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-white uppercase">Enlaces Rapidos</h2>
                    <ul class="text-white font-medium">
                        <li class="mb-4">
                            <a routerLink="/atencion/ayuda" class="hover:underline">AYUDA</a>
                        </li>
                        <li>
                            <a routerLink="/atencion/nosotros" class="hover:underline">Quiénes Somos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <!-- Otros enlaces sociales pueden ir aquí -->
            </div>
        </div>
    </div>
</footer>
