<div class="container mx-auto p-8 bg-[#EEEEEE] rounded-lg shadow-lg max-w-lg my-16">
    <h2 class="text-3xl font-semibold text-[#282258] mb-6 text-center">Agregar Método de Pago</h2>
    
    <form [formGroup]="fGroup" class="space-y-6">
      <!-- Tipo de Método de Pago -->
      <div class="form-group">
        <label for="tipoMetodo" class="block text-lg text-[#282258] mb-2">Tipo de Método de Pago</label>
        <select formControlName="tipoM" id="tipoMetodo" class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]">
          <option value="DEBITO">Débito</option>
          <option value="CREDITO">Crédito</option>
        </select>
      </div>
  
      <!-- Número de Cuenta -->
      <div class="form-group">
        <label for="numeroCuenta" class="block text-lg text-[#282258] mb-2">Número de Cuenta</label>
        <input 
            formControlName="cuenta"
          type="number" 
          class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]"
          id="numeroCuenta" 
          name="numeroCuenta" 
          placeholder="Ingrese el número de cuenta">
      </div>
  
      <!-- Botón de Enviar -->
      <div class="form-group text-center">
        <button (click)="AgregarMetodoPago()" type="submit" class="w-full py-3 bg-[#282258] text-white rounded-lg hover:bg-[#00FF9C] hover:text-black focus:outline-none focus:ring-2 focus:ring-[#00FF9C]">
          Agregar Método
        </button>
      </div>
    </form>
  </div>
  