<div class="relative overflow-x-auto my-8 mx-4">
    <!-- Título de la tabla centrado y más grande -->
    <h2 class="text-3xl font-bold text-center mb-4 text-[#282258]">PARTIDOS</h2>
    
    <table class="w-full text-sm text-left rtl:text-right text-[#282258] border-collapse border border-gray-200">
        <thead class="text-xs text-white uppercase bg-[#282258]">
            <tr>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Torneo
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Estadio
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Equipo Local
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Equipo Visitante
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Goles Local
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Goles Visitante
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Empate
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Fecha Inicio
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Fecha Fin
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Estado
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Ganancia Equipo Local
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Ganancia Equipo Visitante
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-[#EEEEEE] border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-[#282258] whitespace-nowrap dark:text-white border border-gray-300">
                    1
                </td>
                <td class="px-6 py-4 text-[#282258] border border-gray-300">
                    2
                </td>
                <td class="px-6 py-4 border border-gray-300">
                3
                </td>
                <td class="px-6 py-4 border border-gray-300">
                4
                </td>
                <td class="px-6 py-4 font-medium text-[#282258] whitespace-nowrap dark:text-white border border-gray-300">
                    1
                </td>
                <td class="px-6 py-4 text-[#282258] border border-gray-300">
                    2
                </td>
                <td class="px-6 py-4 border border-gray-300">
                3
                </td>
                <td class="px-6 py-4 border border-gray-300">
                4
                </td>
                <td class="px-6 py-4 font-medium text-[#282258] whitespace-nowrap dark:text-white border border-gray-300">
                    1
                </td>
                <td class="px-6 py-4 text-[#282258] border border-gray-300">
                    2
                </td>
                <td class="px-6 py-4 border border-gray-300">
                3
                </td>
                <td class="px-6 py-4 border border-gray-300">
                    3
                </td>
            </tr>
        </tbody>
    </table>
</div>