<div class="container mx-auto p-8 rounded-lg shadow-lg my-16">
    <!-- Contenedor con columnas -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
  
      <!-- Apuesta por Jugador -->
      <div class="bg-[#EEEEEE] p-6 rounded-lg shadow-md">
        <form [formGroup]="fGroup" class="space-y-6">
          <div class="border-b-2 pb-4">
            <h3 class="text-2xl font-semibold text-[#282258] mb-4">Apuesta por Jugador</h3>
  
            <!-- Goles -->
            <div class="form-group">
              <label for="goles" class="block text-lg text-[#282258] mb-2">Goles</label>
              <input formControlName="goles" type="number" class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]" id="goles" name="goles" placeholder="Ingrese los goles">
            </div>
  
            <!-- Asistencias -->
            <div class="form-group">
              <label for="asistencias" class="block text-lg text-[#282258] mb-2">Asistencias</label>
              <input formControlName="asistencias" type="number" class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]" id="asistencias" name="asistencias" placeholder="Ingrese las asistencias">
            </div>
  
            <!-- Cantidad Apostada -->
            <div class="form-group">
              <label for="cantidadApostadaJugador" class="block text-lg text-[#282258] mb-2">Cantidad Apostada</label>
              <input formControlName="monto" type="number" class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]" id="cantidadApostadaJugador" name="cantidadApostadaJugador" placeholder="Ingrese la cantidad apostada">
            </div>
  
            <!-- Partido ID -->
            <div class="form-group">
              <label for="partidoIdJugador" class="block text-lg text-[#282258] mb-2">Seleccione el partido</label>
              <select formControlName="partidoId" class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]" id="partidosPendientes" name="partidosPendientes" (change)="mostrarJugadores()">
                <option value="">Seleccione el partido</option>
              </select>

            </div>
        
            <!-- Jugador ID -->
            <div class="form-group">
              <label for="jugadorId" class="block text-lg text-[#282258] mb-2">Jugador</label>
              <select formControlName="jugadorId" class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]" id="jugadores" name="jugadorId">
              <option value="" disabled selected>Seleccione el jugador</option>
              </select>
            </div>
  
          </div>
  
          <!-- Botón Enviar Apuesta Jugador -->
          <div class="form-group text-center">
            <button type="submit" (click)="CrearApuesta()" class="w-full py-3 bg-[#282258] text-white rounded-lg hover:bg-[#00FF9C] hover:text-black focus:outline-none focus:ring-2 focus:ring-[#00FF9C]">
              Realizar Apuesta por Jugador
            </button>
          </div>
        </form>
      </div>
  
      <!-- Apuesta por Evento -->
      <div class="bg-[#EEEEEE] p-6 rounded-lg shadow-md">
        <form class="space-y-6">
          <div class="border-b-2 pb-4">
            <h3 class="text-2xl font-semibold text-[#282258] mb-4">Apuesta por Evento</h3>
  
            <!-- Cantidad Apostada -->
            <div class="form-group">
              <label for="cantidadApostadaEvento" class="block text-lg text-[#282258] mb-2">Cantidad Apostada</label>
              <input type="number" class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]" id="cantidadApostadaEvento" name="cantidadApostadaEvento" placeholder="Ingrese la cantidad apostada">
            </div>
  
            <!-- Partido ID -->
            <div class="form-group">
              <label for="partidoIdJugador" class="block text-lg text-[#282258] mb-2">Seleccione el partido</label>
              <select formControlName="partidoIdEvento" class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]" id="partidosPendientesEVENTO" name="partidosPendientes" (change)="mostrarEquipos()">
                <option value="">Seleccione el partido</option>
              </select>
            </div>
  
            <div class="form-group">
              <label for="tipoEvento" class="block text-lg text-[#282258] mb-2">Tipo de Evento</label>
              <select formControlName="tipoEvento" class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]" id="tipoEvento" name="tipoEvento">
                <option value="PENALTI">PENALTI</option>
                <option value="GOL ANULADO">GOL ANULADO</option>
                <option value="TARJETA ROJA">TARJETA ROJA</option>
                <option value="TIRO LIBRE">TIRO LIBRE</option>
                <option value="TIRO DE ESQUINA">TIRO DE ESQUINA</option>
                <option value="FUERA DE LUGAR">FUERA DE LUGAR</option>
                <option value="AUTOGOL">AUTOGOL</option>
                <option value="INTERVENCIÓN DE AFICIONADOS">INTERVENCIÓN DE AFICIONADOS</option>
                <option value="LESIÓN">LESIÓN</option>
              </select>
            </div>
  
            <!-- Equipo ID -->
            <div class="form-group">
              <label for="equipoId" class="block text-lg text-[#282258] mb-2">Equipo</label>
              <select formControlName="equipoId" class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]" id="equipos" name="equipoId">
              <option value="" disabled selected>Seleccione el equipo</option>
              </select>
            </div>
  
          </div>
  
          <!-- Botón Enviar Apuesta Evento -->
          <div class="form-group text-center">
            <button type="submit" class="w-full py-3 bg-[#282258] text-white rounded-lg hover:bg-[#00FF9C] hover:text-black focus:outline-none focus:ring-2 focus:ring-[#00FF9C]">
              Realizar Apuesta por Evento
            </button>
          </div>
        </form>
      </div>
  
      <!-- Apuesta por Marcador -->
      <div class="bg-[#EEEEEE] p-6 rounded-lg shadow-md">
        <form class="space-y-6">
          <div class="border-b-2 pb-4">
            <h3 class="text-2xl font-semibold text-[#282258] mb-4">Apuesta por Marcador</h3>
  
            <!-- Goles Equipo Local -->
            <div class="form-group">
              <label for="golesEquipoLocal" class="block text-lg text-[#282258] mb-2">Goles Equipo Local</label>
              <input type="number" class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]" id="golesEquipoLocal" name="golesEquipoLocal" placeholder="Ingrese goles equipo local">
            </div>
  
            <!-- Goles Equipo Visitante -->
            <div class="form-group">
              <label for="golesEquipoVisitante" class="block text-lg text-[#282258] mb-2">Goles Equipo Visitante</label>
              <input type="number" class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]" id="golesEquipoVisitante" name="golesEquipoVisitante" placeholder="Ingrese goles equipo visitante">
            </div>
  
            <!-- Cantidad Apostada -->
            <div class="form-group">
              <label for="cantidadApostadaMarcador" class="block text-lg text-[#282258] mb-2">Cantidad Apostada</label>
              <input type="number" class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]" id="cantidadApostadaMarcador" name="cantidadApostadaMarcador" placeholder="Ingrese la cantidad apostada">
            </div>
  
            <!-- Partido ID -->
            <div class="form-group">
              <label for="partidoIdJugador" class="block text-lg text-[#282258] mb-2">Seleccione el partido</label>
              <select formControlName="partidoId" class="block w-full px-4 py-2 border border-[#282258] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00FF9C]" id="partidosPendientesMarcador" name="partidosPendientes">
                <option value="">Seleccione el partido</option>
              </select>

            </div>
  
          </div>
  
          <!-- Botón Enviar Apuesta Marcador -->
          <div class="form-group text-center">
            <button type="submit" class="w-full py-3 bg-[#282258] text-white rounded-lg hover:bg-[#00FF9C] hover:text-black focus:outline-none focus:ring-2 focus:ring-[#00FF9C]">
              Realizar Apuesta por Marcador
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  